{% for kv in lemma %}
<div class="form-group row">
<label for="input_{{ kv[0] }}_{{ loop.index }}" class="col-form-label col-sm-2" style="text-align: right;">{{ kv[0] }}:</label>
{% if kv[0].startswith('trans_') %}
<div class="col-sm-8"><input type="text" class="form-control form-control-trans" name="input_{{ kv[0] }}_{{ loop.index }}" id="input_{{ kv[0] }}_{{ loop.index }}" value="{{ kv[1] }}"></div>
{% elif kv[0] == 'gramm' %}
<div class="col-sm-5"><input type="text" class="form-control form-control-gramm" name="input_{{ kv[0] }}_{{ loop.index }}" id="input_{{ kv[0] }}_{{ loop.index }}" value="{{ kv[1] }}"></div>
{% elif kv[0] == 'examples' %}
<div class="col-sm-8"><input type="text" class="form-control form-control-examples" name="input_{{ kv[0] }}_{{ loop.index }}" id="input_{{ kv[0] }}_{{ loop.index }}" value="{{ kv[1] }}"></div>
{% elif kv[0] == 'lex' %}
<div class="col-sm-5"><input type="text" class="form-control form-control-lemma" name="input_{{ kv[0] }}_{{ loop.index }}" id="input_{{ kv[0] }}_{{ loop.index }}" value="{{ kv[1] }}"></div>
{% else %}
<div class="col-sm-5"><input type="text" class="form-control" name="input_{{ kv[0] }}_{{ loop.index }}" id="input_{{ kv[0] }}_{{ loop.index }}" value="{{ kv[1] }}"></div>
{% endif %}
</div>
{% endfor %}
{% if img_url %}
<div class="col-sm-6"><img src="https://picsum.photos/500/500/?image={{ img_url }}"></div>
{% endif %}
<div id="time_stats">{{ time_elapsed }} seconds, {{ lemmata_processed }} lemmata processed, {{ (lemmata_remaining * time_elapsed / lemmata_processed) / 60 }} more minutes to go.</div>